body.currentlisting_page {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

#listing_details, #owner_details {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#listing_details {
    flex: 3;
    min-width: 70%;
}

#owner_details {
    flex: 1;
    min-width: 20%;
}

#listing_details h2 {
    color: #ff3b3b;
    text-align: center;
}

#listing_details p {
    background-color: #3a3a3a;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
