body.currentlisting_page {
    background-color: #1e1e1e;
    color: #fff;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #2b2b2b;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    
    display: grid;
    grid-template-columns: 3fr 1fr; /* Two columns: listing_details (3x) and owner_details (1x) */
    gap: 20px;
}

section {
    background-color: #3a3a3a;
}

#listing_details, #owner_details {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}

#listing_details {
    grid-column: 1; /* First column */
}

#owner_details {
    grid-column: 2; /* Second column */
}

#image_details {
    grid-column: span 2;
    text-align: center;
    margin-top: 20px;
}

#listing_details h2 {
    color: #ff3b3b;
    text-align: center;
}

#listing_details p {
    background-color: #414141;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
}
